// main.scss
// @author Oscar Bezi

$mobile-breakpoint: 768px;

body {
    background: white;
    text-align: center;
}

// Nav bar
#navbar {
    background: rgba(21, 21, 21, 0.95);
    border: 0;
    border-radius: 0;
    padding: 0;
    margin-bottom: 0;

    a {
        color: white; 
    }


    .navbar-brand {
        color: white;
    }
}


.maroon-banner {
    background: rgba(112, 1, 10, 0.85);
    width: 100%;
    .navbar-header {
        text-transform: uppercase;
        float: none;
        padding-left: none;
    }
}

// Carousel
#header-carousel {
    background: rgba(255, 255, 255, 0.8);
    margin: 0 auto;
    .item {
        padding-bottom: 20px;
        height: 230px;
    }
}

.carousel-indicators {
    bottom: -10px;
}
.carousel-indicators li {
    background-color: #999;
    background-color: rgba(70,70,70,.25);
}

.carousel-indicators .active {
    background-color: #444;
}

@media (max-width: $mobile-breakpoint) {
    #header-carousel {
        background: rgba(21, 21, 21, 0.95);
        color: white;
        .item {
            height: 250px;
        }
    }
}

// Content
.content.container {
    background: rgba(255, 255, 255, 0.8);
}

.content {
    h1,h2,h3,h4,h5,h6 {
        font-weight: bold;
    }
    
    td {
        text-align: left;
    }

    .email {
        font-style: italic;
        color: rgb(125, 173, 27);
    }
}
