meta(charset="utf-8")
title CMU Rowing Crew
meta(name="description" content="The web site for the Carnegie Mellon University Rowing Crew.")
meta(name="viewport" content="initial-scale=1")
meta(name="author" content="Oscar Bezi, oscar.bezi@gmail.com")
link(href="imgs/favicon.ico" rel="shortcut icon")
