//- @file navbar.jade
//- @brief Navigation bar for the CMURC page.
//- @author Oscar Bezi (bezi@cmu.edu)
//- @since 17 June 2014
//-=============================================================================

mixin navitem(title, link_id)
    li: a(id=link_id)= title 

nav#navbar.navbar.navbar-default(role="navigation")
    .maroon-banner
        .navbar-header
            .navbar-brand
                a(href="#") Carnegie Mellon University Rowing Club
                button.navbar-toggle(type="button" data-toggle="collapse" data-target="#navbar-links")
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
    .collapse.navbar-collapse#navbar-links 
        ul.nav.navbar-nav
            +navitem('Home', 'homeBtn')
            +navitem('Prospective', 'prospectiveBtn')
            +navitem('Rosters', 'rostersBtn')
            +navitem('Board', 'boardBtn')
            +navitem('Alumni', 'alumniBtn')
            +navitem('Donate', 'donateBtn')
