html {
  margin: 0;
  padding: 0; }

body {
  background: url('../imgs/bg.jpg') no-repeat center fixed; }

#navbar {
  width: 980px;
  margin: auto;
  background: rgba(21, 21, 21, 0.95);
  border: 0;
  border-radius: 0;
  padding: 0;
  margin-bottom: 0; }
  #navbar a {
    color: white;
    text-decoration: none;
    cursor: pointer; }
    #navbar a.active {
      background: rgba(112, 1, 10, 0.85); }
  #navbar .navbar-header {
    float: none;
    width: 100%; }
  #navbar .navbar-brand {
    color: white;
    width: 100%;
    text-align: center; }
  #navbar .navbar-toggle {
    margin: 0; }

.navbar .navbar-nav {
  display: inline-block;
  float: none; }

.navbar .navbar-collapse {
  text-align: center; }

.maroon-banner {
  background: rgba(112, 1, 10, 0.85);
  width: 100%; }

@media (max-width: 980px) {
  #navbar {
    width: 100%; } }

.content {
  width: 980px;
  margin: auto;
  padding: 0 15px;
  background: rgba(255, 255, 255, 0.9);
  color: #212121;
  text-align: center; }
  .content h1, .content h2, .content h3, .content h4, .content h5, .content h6 {
    font-weight: bold; }
  .content p {
    font-size: 1.25em; }
  .content img {
    width: 80%;
    margin: auto; }
  .content td {
    text-align: left; }
  .content .email {
    font-style: italic;
    color: #7dad1b; }

footer {
  width: 980px;
  margin: auto;
  background: rgba(21, 21, 21, 0.95);
  color: white;
  text-align: right;
  padding-right: 2em; }

@media (max-width: 980px) {
  .content, footer {
    width: 100%; } }

.row {
  display: none; }
  .row.active {
    display: block; }
