// @file navbar.scss
// @brief Styles for nav bar
// @author Oscar Bezi (bezi@cmu.edu)
// @since 17 June 2014
//==============================================================================

#navbar {
    width: $breakpoint;
    margin: auto;
    background: rgba(21, 21, 21, 0.95);
    border: 0;
    border-radius: 0;
    padding: 0;
    margin-bottom: 0;

    a {
        color: white; 
        text-decoration: none;
    }

    .navbar-header {
        float: none;
        width: 100%;
    }

    .navbar-brand {
        color: white;
        width: 100%;
        text-align: center;
    }
    .navbar-toggle {
        margin: 0;
    }
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
}

.navbar .navbar-collapse {
    text-align: center;
}

.maroon-banner {
    background: rgba(112, 1, 10, 0.85);
    width: 100%;
}

@media(max-width: $breakpoint) {
    #navbar {
        width:100%;
    }
}   
