extends base
block content
    +navbar("Alumni")
    .container.content
        h2 Our Alumni

        p In October 2011, the Tartan Crew Alumni Network (TCAN) was launched! Alumni, parents, and friends are in the process of creating a vibrant alumni network for the Carnegie Mellon University Rowing Club (CMURC). The shape and direction of the network are still in the beta-stage, however the overarching goal is to provide opportunities to:

        .row
            .col-sm-4
                p: b Connect with alumni
            .col-sm-4
                p: b Give back to the team
            .col-sm-4
                p: b Support the legacy of CMURC

        p The network is inclusive to: parents, coaches, advisors, staff, and alumni with any level of team association. If you have an affinity for the Carnegie Mellon University Rowing Club, we want you connected!

        p Learn more and join 
            a(href="http://alumni.cmu.edu/s/1410/alumni/index.aspx?sid=1410&gid=1&pgid=525") here
            | .
