doctype html
include mixins/navbar
html
    head
        // This is the source code.  It looks much nicer if you see this in a browser.
        // How much bootstrap can we get into a webpage?  The world will never know.
        include includes/head
        // stylesheets
        include includes/css
    body
        block content
        // scripts
        include includes/js
