!!! html
include mixins/navbar
html
    head
        // This is the source code.  It looks much nicer if you see this in a browser.
        include includes/head
        include includes/css
    body
        block content
        include includes/js
