extends base
block content
    +navbar("Board")
    .container.content
        .row
            .col-lg-12
                
                p If you have any general questions regarding our organization, please email our President at 
                    span.email president@tartancrew.org
                    |, otherwise please find the appropriate person in the list below. 
                h5 These are the members of the 2014 Carnegie Mellon Crew Board:
                table.well.table.table-bordered.table-striped
                    thead
                        tr
                            th Position
                            th Name
                            th Email
                    tbody
                        each member in board_members
                            tr
                                td= member.position
                                td= member.name
                                td: span.email= member.email
        .row
            .col-lg-12
