extends base
block content
    +navbar("Home")
    .container.content
        h1 Welcome!
        p This is the website for the Carnegie Mellon University Rowing Crew.  Founded in 1987, we've been rowing for a long time something something lazy writing.

        hr
        .row
            .col-lg-6
                h2 Interested in joining?
                p It doesn't matter whether you're an undergraduate or graduate student, there's always space on our team for a new member. We structure our novice programs to teach towards any athletic fitness, and any background.  Yes, even if you've never gotten on a boat before.
                p: a.btn.btn-lg.btn-primary(href="/prospective") Learn more
            .col-lg-6
                h1 Rent-A-Rower
                p Rent A Rower is a program that offers people living in the CMU/Shadyside/Squirrel Hill area the ability to "rent" our team members for various needs: cleaning, house work, yard work, moving, whatever! 
                p: a.btn.btn-lg.btn-primary(href="/fundraising#rentarower") Learn more
                
