extends base
block content
    #blueimp-gallery.blueimp-gallery
        .slides
        h3.title
        a.prev ‹
        a.next ›
        a.close ×
        a.play-pause
        ol.indicator
        .modal.fade
            .modal-dialog
                .modal-content
                    .modal-header
                        button.close(type="button" aria-hidden="true") &times;
                        h4.modal-title
                    .modal-body.next
                    .modal-footer
                        button.btn.btn-default.pull-left.prev(type="button")
                            i.glyphicon.glyphicon-chevron-left
                            | Previous
                        button.btn.btn-primary.next(type="button") Next
                            i.glyphicon.glyphicon-chevron-right
    +navbar("Home")
    .container.content
        h1 Welcome!
        p This is the website for the Carnegie Mellon University Rowing Crew.  Founded in 1987, we've been rowing for a long time something something lazy writing.

        hr
        .row
            .col-lg-6
                h2 Interested in joining?
                p It doesn't matter whether you're an undergraduate or graduate student, there's always space on our team for a new member. We structure our novice programs to teach towards any athletic fitness, and any background.  Yes, even if you've never gotten on a boat before.
                p: a.btn.btn-lg.btn-primary(href="/prospective") Learn more
            .col-lg-6
                h2 Rent-A-Rower
                p Rent A Rower is a program that offers people living in the CMU/Shadyside/Squirrel Hill area the ability to "rent" our team members for various needs: cleaning, house work, yard work, moving, whatever! 
                p: a.btn.btn-lg.btn-primary(href="/fundraising#rentarower") Learn more
        .row 
            .col-lg-6
                h2 Pictures
                #links.links
                    a(href="imgs/pictures/2014pittsburghsprints01.jpg" title="Isn't this a nice picture?" data-gallery)
                        img(src="imgs/pictures/thumbnail.2014pittsburghsprints01.jpg")
                    a(href="imgs/pictures/2014pittsburghsprints02.jpg" title="Nicely done!" data-gallery)
                        img(src="imgs/pictures/thumbnail.2014pittsburghsprints02.jpg")
                    a(href="imgs/pictures/2014pittsburghsprints03.jpg" title="Wow, such crew, very row" data-gallery)
                        img(src="imgs/pictures/thumbnail.2014pittsburghsprints03.jpg")
                    a(href="imgs/pictures/2014pittsburghsprints04.jpg" title="Yeah, each of these gets a title" data-gallery)
                        img(src="imgs/pictures/thumbnail.2014pittsburghsprints04.jpg")
                    a(href="imgs/pictures/2014pittsburghsprints05.jpg" title="Pittsburgh Sprints" data-gallery)
                        img(src="imgs/pictures/thumbnail.2014pittsburghsprints05.jpg")
                    a(href="imgs/pictures/2014pittsburghsprints06.jpg" title="Pittsburgh Sprints" data-gallery)
                        img(src="imgs/pictures/thumbnail.2014pittsburghsprints06.jpg")
                    
            .col-lg-6
                h2 Facebook
                <iframe src="http://www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2Ftartancrew&amp;width=600&amp;height=395&amp;colorscheme=light&amp;show_faces=false&amp;header=false&amp;stream=true&amp;show_border=false" scrolling="no" frameborder="0" style="border:none; overflow:hidden; height:395px;" allowTransparency="true"></iframe>
