extends base
block content
    +navbar("Staff")
    .container.content
        .row
            .col-lg-12
                h2 Coaches
                p This section is still under construction.  Come back soon!
        .row
            .col-lg-12
                h2 Board
                p The rowing club is governed by a board elected by dues-paying members.
                p If you have any general questions regarding our organization, please email our President at 
                    span.email president@tartancrew.org
                    |, otherwise please find the appropriate person in the list below. 
                h5 These are the members of the 2014 Carnegie Mellon Rowing Club Board:
                table.well.table.table-bordered.table-striped
                    thead
                        tr
                            th Position
                            th Name
                            th Email
                    tbody
                        each member in board_members
                            tr
                                td= member.position
                                td= member.name
                                td: span.email= member.email
        .row
            .col-lg-12
